@import "./normalize.css";

:root {
    --color-text: #DF6C7E;
    --color-highlight: #E08BA7;
    --color-background: #F9EAE0;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-background);
    color: var(--color-text);
}

a {
    text-decoration: none;
}